.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.brand_gradient {
	background-color: #4158d0;
	background-image: linear-gradient(
		135deg,
		#4158d0 0%,
		#c850c0 65%,
		#fe7a71 100%
	) !important;
}

a {
	text-decoration: none !important;
	/* color: white !important; */
}

.heart {
	fill: gray;
	position: relative;
	top: 0px;
	width: 50px;
	animation: pulse 1s ease infinite;
	transition: all 1s;
	width: 20px;
	height: 20px;
}
.heart:hover {
	fill: pink;
}

.heart-fill {
	fill: red;
	animation: pulse2 1s ease infinite;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes pulse2 {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(1);
	}
}